* {
	box-sizing: border-box;
}
html {
	height: 100%;
}
body {
	margin: 0;
	height: 100%;
	background-color: #fff;
}
ul {
	margin: 0;
	padding: 0;
}
p, h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-weight: normal;
}

.clear {
	clear: both;
}

// px转换为rem
@function pxtorem($px) {
	@return $px / 30 + rem; 
}